<%
    require 'redcarpet'
    icla = File.read(File.join(File.absolute_path(File.dirname(__FILE__)), 'icla.md'))
    md = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new)
%>
<div class="container">
  <h1 class="text-center">Apache Software Foundation ICLA</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div>
        <%= md.render(icla) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div id="form-mount">
        <script src=<%= url('js/form.js') %>></script>
      </div>
    </div>
  </div>
</div>
