<div class="alert alert-success">
  <p>You have sucessfully submitted your ICLA! A copy of the information you have provided has been sent to your account</p>

  <p>
    DEBUG: Need to include full text of ICLA along with values here.
  </p>
</div>
